

main, .main-screen , .add-screen , .game-screen{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-screen h1{
    margin-top: 10%;
    font-size: 35px;
    letter-spacing: 20px;
    text-decoration: underline 2px pink;
}

.main-screen p {
    margin: 5% 0 5% 0;
    font-size: 25px;
    letter-spacing: 3px;
}

.start , .add-word{
    width: 30%;
    font-size: 30px;
}

.add-word, .cancel, .quit{
    margin: 2%;
    border: none;
    padding: 2%;
    border-radius: 50px;
    background-color: whitesmoke;
    width: 45%;
    color:pink;
    font-size: 30px;
}

.add-word:hover, .cancel:hover, .quit:hover{
    background-color: rgb(196, 194, 194);
}

.start, .save , .newgame{
    margin: 2%;
    border: none;
    padding: 2%;
    border-radius: 50px;
    background-color: pink;
    width: 45%;
    font-size: 30px;
    color: whitesmoke;
}

.start:hover , .save:hover , .newgame:hover{
    background-color: rgb(200, 151, 159);
}

.start , .add-word{
    width: 30%;
    font-size: 30px;
}

.random-anime{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 .anime{
    font-size: 45px;
    margin: 5px;
    width: 55px;
    text-align: center;
    border-bottom: pink solid 2px;
 }
 
 .anime p {
    margin: 0;
 }

.hangotaku{
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 img{
    width: 400px;
 }

 .loser{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
 }

 .loser p {
    font-size: 55px;
    color: palevioletred;
    margin: 0;

 }
 .wrong-letters{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    letter-spacing: 30px;
    color: palevioletred;
    margin-top:30px;
 }
.buttons{
    margin-top: 5%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

textarea{
    font-size: 30px;
    padding: 2%;
    color: pink;
    border: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1024px) {
    .add-word, .start{
        width: 65%;
    }

    .save , .cancel , .quit , .newgame{
        width: 110%;
        margin: 10%;
    }

    .buttons{
        display: flex;
        flex-direction: column;
    }
    
    textarea{
        width: 95%;
    }

    .anime{
        font-size: 25px;
        width: 45px;
     }

     .loser p {
        font-size: 35px;
     }

     .wrong-letters{
        font-size: 25px;
     }
}

@media screen and (max-width:480px) { 
    .add-word, .start{
        width: 65%;
        font-size: 20px;
    }

    .save , .cancel , .quit , .newgame{
        width: 142%;
        margin: 10%;
        font-size: 23px;
        padding: 7%;
    }
    
    textarea{
        font-size: 20px;
    }

    img{
        width: 260px;
    }

    .random-anime{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .anime{
        font-size: 15px;
        width: 30px;
        margin: 5%;
     }

     .loser p {
        font-size: 30px;
     }

     .wrong-letters{
        font-size: 20px;
     }


}